DB_AUTO_MIGRATE=1
DB_HOST=localhost
DB_NAME=go_hexagonal
DB_PASSWORD=postgres
DB_PORT=5432
DB_USER=postgres

FT_IP_WHITELIST=0.0.0.0,127.0.0.1
FT_BUFF_MB=1024
FT_MAX_GB=5
FT_OUT_DIR=temp/file_transfer
FT_TIMEOUT_MINS=60

TCP_PORT=8080

WEB_PORT=8000