# * DATABASE PKG
# Boolean indicating whether to migrate models upon start
DB_AUTO_MIGRATE=1
# Address
DB_HOST=localhost
# Name
DB_NAME=go_hexagonal
# Password
DB_PASSWORD=postgres
# Port
DB_PORT=5432
# User
DB_USER=postgres

# * FILE_TRANSFER PKG
# Strings slice with allowed peers to receive files from
FT_IP_WHITELIST=0.0.0.0,127.0.0.1
# Max file size (GB) allowed to be transferred
FT_MAX_GB=5
# Destiny folder for received files (a folder with the peer IP is always created inside it)
FT_OUT_DIR=temp/file_transfer
# Max connection duration (minutes)
FT_TIMEOUT_MINS=60

# * TCP PKG
# Port to host the TCP server on
TCP_PORT=8080

# * WEB PKG
# Port to host the HTTP server on
WEB_PORT=8000